@model IEnumerable<DSM.Models.Shipping>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarrierId)
            </td>
            <td>
                @Html.DisplayFor(model => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(model => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
