@model IEnumerable<DSM.Models.SupportTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequesterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequesterEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(model => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.RequesterId)
            </td>
            <td>
                @Html.DisplayFor(model => item.RequesterName)
            </td>
            <td>
                @Html.DisplayFor(model => item.RequesterEmail)
            </td>
            <td>
                @Html.DisplayFor(model => item.AssignedUserId)
            </td>
            <td>
                @Html.DisplayFor(model => item.AssignedUserName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
